[submodule "mallocs/mimalloc"]
	path = mallocs/mimalloc
	url = git@github.com:microsoft/mimalloc.git
[submodule "mallocs/standmalloc"]
	path = mallocs/standmalloc
	url = git@github.com:hosam-morad/malloc-standalone-auto.git
	branch = main
